################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FuelApi/bin/Debug/net10.0
/.vs
/FuelApi/obj
